.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 2em;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.obscured {
  color: #ccf;
}

.artist-name {
  font-size: 75%;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

/* フェードイン */
.fadein {
  display: none;
}

.recruit_irast {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.recruit_irast img {
  width: 100%;
}
